.cart-wrapper {
  max-width: 900px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #e3e3e3;
  transition: transform 0.2s ease;
}

.cart-card:hover {
  transform: scale(1.01);
}

.cart-img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.cart-info {
  flex-grow: 1;
  margin-left: 15px;
}

.price {
  font-size: 18px;
  color: #444;
  font-weight: 500;
}

.remove-btn {
  background: #ff4444;
  border: none;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.remove-btn:hover {
  background: #e03939;
}

.total-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.total {
  color: #111;
  font-weight: bold;
}

.empty-img {
  width: 180px;
  opacity: 0.8;
  margin-bottom: 10px;
}
