.footer {
  width: 100%;
  background: #111;
  color: #d7d7d7;
  padding: 60px 10%;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-section h3 {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #fff;
}

.footer-section a {
  display: block;
  color: #cfcfcf;
  margin: 6px 0;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #ff3a3a;
  transform: translateX(4px);
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  border-top: 1px solid #333;
}
